*{
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(234, 230, 189);
}

.header{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    align-items: center;
    .header_element{
        display: flex;
        width: 100px;
        margin: 0 5px;
        background-color: green;
        border-radius: 10px;
        padding: 5px 10px;
        img{
            background-color: green;
            height: auto;
            width: 30px;
        }
        a{
            padding-left: 10px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            align-self: center;
            background-color: green;
        }
    }
}

.title{
    text-align: center;
    border: 1px solid black;
    width: 35%;
    border-radius: 20px;
    margin: 10px auto;
}

.form{
    .form_inputs{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 100px auto;
        width: 50%;
    }
    .form_submit{
        text-align: center;
        width: 20%;
        margin: 20px auto;
        border-radius: 15px;
        background-color: green;
        padding: 10px;
        button{
            border: none;
            background-color: green;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.poze{
    display: flex;
    justify-content: space-between;
    height: 300px;
    div{
        margin: 30px 20px;
        img{
            width: 300px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    }
}